version: '3.0'
services:
  myapp1:
    image: {{ image }}
    container_name: myapp1
    working_dir: /yth/etc
    command: java -jar /jar/myapp1-{{ version }}.jar --spring.config.location=file:/etc/application.properties
    volumes:
    - /yth/etc/application.properties:/etc/application.properties
    ports:
    - 8080:8080
